Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-WTF==1.2.1
WTForms==3.1.2
PyMySQL==1.1.1
cryptography==42.0.8
python-dotenv==1.0.1
email-validator==2.2.0
Pillow==10.4.0
gunicorn==22.0.0
