{% extends "base.html" %}
{% block title %}Conócenos{% endblock %}
{% block content %}
<h1>Conócenos</h1>
<p class="lead">TecnoStore es una empresa peruana especializada en productos electrónicos desde 2015.</p>
<div class="row g-4 mt-3">
  <div class="col-md-4"><div class="card h-100"><div class="card-body text-center">
    <i class="bi bi-shop fs-1 text-primary"></i>
    <h5 class="mt-2">Tienda Lima Centro</h5>
    <p>Av. Larco 1234, Miraflores</p>
  </div></div></div>
  <div class="col-md-4"><div class="card h-100"><div class="card-body text-center">
    <i class="bi bi-shop fs-1 text-primary"></i>
    <h5 class="mt-2">Tienda San Borja</h5>
    <p>Av. Aviación 567</p>
  </div></div></div>
  <div class="col-md-4"><div class="card h-100"><div class="card-body text-center">
    <i class="bi bi-shop fs-1 text-primary"></i>
    <h5 class="mt-2">Tienda Surco</h5>
    <p>Av. Caminos del Inca 890</p>
  </div></div></div>
</div>
<h3 class="mt-5">Síguenos</h3>
<p>
  <a href="#" class="btn btn-outline-primary"><i class="bi bi-facebook"></i> Facebook</a>
  <a href="#" class="btn btn-outline-danger"><i class="bi bi-instagram"></i> Instagram</a>
  <a href="#" class="btn btn-outline-info"><i class="bi bi-twitter-x"></i> X</a>
</p>
{% endblock %}
